/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #667eea, #764ba2, #ff5733);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    color: white;
    overflow: hidden;
    transition: background 0.3s ease;
    background-image: url('https://i.imgur.com/PqSoikB.png'); /* Light mode background */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Dark Mode */
body.dark-mode {
    background: linear-gradient(135deg, #333, #444, #555);
    color: #ddd;
    background-image: url('https://i.imgur.com/dM94Tmo.png'); /* Dark mode background */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
